<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Gerencia
  </a>
  <div>

    <% if user_signed_in? %>
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to 'Register', registrations_path  %>
      <%= link_to 'Log In', sessions_path  %>
    <% end %>

  </div>
</nav>