<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= project.title %>
    </h5>
  </div>
</div>

<div class="d-flex flex-wrap gap-3 mt-5">
  <% @users_emails.each do |user| %>
    <%= render 'user_invitation', user: user, project_participant: @project_participant  %>
  <% end %>
</div>

<div>
  <h4>Participantes del curso</h4>
  <div>
    <% project.project_participants.each do |project_participant| %>
      <% if project_participant.status == 'accepted'  %>
      <div>
        <%= project_participant.user.name %>
        <%= project_participant.role %>
      </div>
        <% end %>
    <%end %>
  </div>
</div>