<div>

  <div>
  <%= render 'form', project: @project %>
  </div>

  <div id="projects">
    <% @project_participants.each do | project_participant| %>
      <%= render 'project', project: project_participant.project, project_participant: project_participant %>
    <% end %>
  </div>
</div>